<!doctypehtml>
  <html lang=zh>

  <head>
    <meta charset=utf-8>
    <title>app3</title>
  </head>

  <body>
    <div id=app3></div>
    <script src="<%= context.config.publicPath %>moment.min.js"></script>
  </body>

  </html>
